### Exp 7
### Jay Mehta
### 2018130024

#### Separating Spam From Ham

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
import re

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/1_KfskafQ4Kn8TR_kOdHoto55WVUV03rEsQBrYVF-5IQ/export?format=csv&gid=588563129')
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [ ]:
print('The number of emails in the dataset are',df.shape[0],end='.')

The number of emails in the dataset are 5728.

In [ ]:
print('The number of spam emails in the dataset are',df[df["spam"] == 1].count(),end='.')

The number of spam emails in the dataset are text    1368
spam    1368
dtype: int64.

In [ ]:
print('The first word in every email is \"',list(set(df['text'].apply(lambda x:x.split()[0])))[0],end='\".',sep='')

The first word in every email is "Subject:".

# Could a spam classifier potentially benefit from including the frequency of the word that appears in every email?

Yes -- the number of times the word appears might help us differentiate spam from ham.

In [ ]:
print('The length of the biggest email in the dataset is',len(max(df['text'],key=len)),end='.')

The length of the biggest email in the dataset is 43952.

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk import stem
nltk.download('stopwords')
stemmer = stem.SnowballStemmer('english')
stopwords = set(stopwords.words('english'))
def function(msg): 
  punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  for ele in msg:
      if ele in punc:
          msg = msg.replace(ele, "")  
  msg = msg.lower() 
  msg = [word for word in msg.split() if word not in stopwords]   
  msg = " ".join([stemmer.stem(word) for word in msg])
  return msg
df['text'] = df['text'].apply(function)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
!pip install textmining3

Collecting textmining3
  Downloading textmining3-1.1.0-py2.py3-none-any.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 4.9 MB/s
Requirement already satisfied: Click>=6.0 in /usr/local/lib/python3.7/dist-packages (from textmining3) (7.1.2)
Installing collected packages: textmining3
Successfully installed textmining3-1.1.0

In [ ]:
import textmining
tdm = textmining.TermDocumentMatrix()

for i in range(len(df)):
  tdm.add_doc(df['text'][i])

tdm

In [ ]:
tdm.to_df(cutoff=0)

,subject,natur,irresist,corpor,ident,lt,realli,hard,recollect,compani,...,fredrik,eriksson,cadena,buerkl,etring,jonalan,laird,hrach,hypercub,toughest
0,1,1,1,1,1,1,1,1,1,3,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5724,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5725,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5726,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5727,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(df['text'], df['spam'], test_size=0.33, random_state=42)
# vec = TfidfVectorizer()
# X_train = vec.fit_transform(X_train)
# X_test = vec.transform(X_test)

In [ ]:
# X_train.shape,X_test.shape

((3837, 24071), (1891, 24071))

In [ ]:
# dtm = pd.DataFrame(X_train.toarray(),columns=vec.get_feature_names())
# # dtm

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,000,0000,000000,00000000,000000000003619,000000000003997,000000000005168,000000000005409,000000000005411,...,zwrocic,zwwyw,zwzm,zxghlajf,zyc,zygoma,zymg,zzn,zzncacst,zzzz
0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.032956,0.0,0.070386,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3832,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3833,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3834,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3835,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3836,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Warning: Total number of columns (24071) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
threshold = (len(df)*5)/100
spdtm = tdm.to_df(cutoff = threshold)

spdtm

,subject,corpor,realli,compani,market,full,inform,good,websit,make,...,ect,hou,vinc,shirley,enron,kaminski,crenshaw,vkamin,stinson,gibner
0,1,1,1,3,4,1,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,3,0,0,0,0,0,0,0,0,0,...,11,6,4,2,5,3,2,0,0,0
5724,2,0,0,0,0,0,0,0,0,0,...,0,0,3,1,0,1,0,0,0,0
5725,2,0,0,0,0,0,0,2,0,0,...,4,2,2,0,4,1,0,0,0,0
5726,5,0,0,0,0,0,0,0,0,0,...,11,6,7,1,0,5,1,0,0,0
5727,1,0,0,0,4,0,5,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(spdtm, df['spam'], test_size=0.33, random_state=42)
from sklearn import tree
from sklearn.metrics import classification_report
def fitting(X_train, X_test, y_train, y_test, criterion, splitter, mdepth, clweight, minleaf):

    model = tree.DecisionTreeClassifier()
    
    clf = model.fit(X_train, y_train)
    pred_labels_tr = model.predict(X_train)
    pred_labels_te = model.predict(X_test)
    
    score_te = model.score(X_test, y_test)
    print('Accuracy Score: ', score_te)
    print(classification_report(y_test, pred_labels_te))
    print('--------------------------------------------------------')
    print('')
    
    return pred_labels_te
pred_labels_te = fitting(X_train, X_test, y_train, y_test, 'gini', 'best', mdepth=3, clweight=None,minleaf=1000)
print("AUC Score:", roc_auc_score(y_test,pred_labels_te))
print('')

Accuracy Score:  0.9370703331570598
              precision    recall  f1-score   support

           0       0.94      0.97      0.96      1398
           1       0.92      0.84      0.87       493

    accuracy                           0.94      1891
   macro avg       0.93      0.90      0.92      1891
weighted avg       0.94      0.94      0.94      1891

--------------------------------------------------------

AUC Score: 0.9042590545171746

In [ ]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
pred_labels_te = np.round(model.predict(X_test)).astype(int)

print('*************** Evaluation on Test Data ***************')
score_te = metrics.accuracy_score(y_test, pred_labels_te)
print('Accuracy Score: ', score_te)
print(classification_report(y_test, pred_labels_te))
print('--------------------------------------------------------')
print("AUC Score:", roc_auc_score(y_test,pred_labels_te))
print('')

*************** Evaluation on Test Data ***************
Accuracy Score:  0.9725013220518244
              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1398
           1       0.98      0.91      0.95       493

    accuracy                           0.97      1891
   macro avg       0.98      0.95      0.96      1891
weighted avg       0.97      0.97      0.97      1891

--------------------------------------------------------
AUC Score: 0.9531705682124856

#### **Conclusion**

1) In this experiment, I succeessfully classified spam and ham using Random Forest Classifier and CART algorithm.

2) The random forest algorithm provides a higher level of accuracy in predicting outcomes over the decision tree algorithm.

3) Hence, even on a huge dataset the classifier gave better results.

4) Data preprocessing techniques applied such as feature scaling enhanced the accuracy of the models.